.loading {
  max-width: 100px;
}

.loading-text {
  font-size: 5em;
}

.table-fields {
  display: flex;
  justify-content: stretch;
  max-width: 100vw;
}

.table-header {
  border: 1px solid yellow;
}

.column {
  box-sizing: border-box;
  padding: 2px;
  text-align: center;
  width: 7.5vw;
  word-wrap: break-word;
}
