.form-container {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  max-width: max-content;
}

.input-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-weight: 700;
  justify-content: center;
}

.input-container input, select, option {
  margin: 10px;
  padding: 5px 0;
}

fieldset {
  font-weight: 700;
  padding: 20px;
}

button {
  background-color: gray;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px;
}

button:hover {
  background-color: black;
}

.filter-container-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  margin: 10px;
}

.filter-container-div button {
  margin: 5px;
  padding: 5px;
}
