.table-data {
  color: white;
  font-size: 1.1em;  
}

.table-display {
  overflow: auto;  
  height: 75vh;
  padding: 20px;
  width: 80vw; 
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:  rgb(39, 39, 39); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 59, 59); 
}
.table-page {
  display: flex;
  align-items: center;
  justify-content: center;
}