
.death-star {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 50px;
}

.millenium-falcon {
    display: flex;
    flex-direction: row;
}

td {
  align-items: center;
}

.settings {
    background-color: #869e86;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.sub-settings {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.select-setting {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.planet {
    margin-top: 30px;
    height: 20%;
    width: 100%;
}

.table-control {
    background-color: rgb(229, 233, 240);
    border: 1px solid black;
    margin-left: 10px;
}

table tr:nth-child(even) {
    background: #F0FFFF;
}

tr {
    background-color:  #869e86;
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.span-control {
    margin-right: 798px;
}

input {
    height: 20px;
}

.right-select {
    width: 150px;
}

.left-select {
    margin-left: 40px;
    width: 150px;
}

.input-filter {
    padding-right: 31px;
    margin: 10px;
}

.button-fetch {
    margin-left: 100px;
}

a {
    text-decoration: none;
}

.namePlanet {
    color: rgb(7, 27, 3);
    font-weight: bolder;
    font-size: large;
}

td {
    text-align: center;
}

.head {
    font-weight: bolder;
    font-size: larger;
}

button {
    width: 100px;

}