.tabela, th, td {
    background: rgb(29, 44, 94);
    color: white;
    border: 1px solid rgb(85, 87, 194);
    width:100px
}
th {
    height: 50px;
    padding: 15px;
    background:rgb(12, 25, 66)
}


